!!!
%html
	%head
		%title Minecloud
		%link( rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" )
		%link( href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" )
		%script( src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" )
	%body
		.jumbotron
			%h1 Minecloud
			%p
				Play Minecraft, Motherfucker!
			%p
				%button( class="btn btn-primary btn-xl" id="go-minecloud" ) Play!

