<html>

  <head>

    <title>Minecloud</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<style>
body {
	background: url(http://minecraftbuilder.com/wp-content/uploads/2013/07/background.jpg);
	background-repeat: repeat-x;
	padding: 50px;
}
.page-container {
	width: 80%;
	margin: auto;
}
.jumbotron {
	opacity: 0.90;
	border-radius: 10px;
}
#go-minecloud {
	opacity: 1;
}
	</style>

  </head>

  <body>
		<div class="page-container">
 	       <div class="jumbotron">
 	            <h1>Minecloud</h1>
 	            <p>Play Minecraft Motherfucker!</p>
 	            <p><a href="/play" class="btn btn-primary btn-xl" id="go-minecloud">Play!</a>
 	       </div>
		</div>
  </body>

</html>
