<html>

  <head>

    <title>Minecloud</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </head>

  <body>
        <div class="jumbotron">
             <h1><%=@ip%></h1>
             <p>Play Minecraft Motherfucker!</p>
             <p><a href="/stop" class="btn btn-primary btn-xl" id="go-minecloud">Sick of this shit now.</a>
        </div>
  </body>

</html>
