<html>

  <head>

    <title>Minecloud</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </head>

  <body>
        <div class="jumbotron">
             <h1>Not Playing</h1>
             <p>Play Minecraft Motherfucker!</p>
             <p><a href="/play" class="btn btn-primary btn-xl" id="go-minecloud">I just need to finish this bit...</a>
        </div>
  </body>

</html>
